* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: #191724;
    border: 1px solid #7aa2f7;
    border-radius: 4px;
    color: #c0caf5;
    padding: 2px 0px;
    min-height: 28px; /* force smaller bar height */
}

#custom-power,
#clock,
#taskbar,
#workspaces,
#custom-spotify,
#custom-volume,
#tray,
#custom-memory,
#custom-battery,
#custom-brightness,
#network,
#custom-bluetooth,
#cpu,
#disk,
#pulseaudio,
#custom-sidebar,
#custom-media,
#custom-wallpaper,
#custom-hyprpicker,
#custom-nightlight,
#hyprland-window,
#wlr-taskbar {
    padding: 2px 4px;
    margin: 2px;
    background: transparent;
}

#workspaces button.focused {
    background: #545c7e;
}

#workspaces button:hover {
    background: #2a2f42;
}

#custom-power:hover,
#clock:hover,
#custom-spotify:hover,
#custom-volume:hover,
#custom-brightness:hover,
#custom-memory:hover,
#network:hover,
#custom-battery:hover,
#custom-bluetooth:hover {
    background: #2a2f42;
}
